body {
    font-family:Calibri, Verdana, sans-serif;
    font-size:100%;
    background-color: #f3f5ce;
    color: #4a2813;
    padding:1em 1em;
    position:absolute;
    margin: 0 auto;
}
h1
{
    font-size:4em;
    margin:0;
}
#siteTable
{
    border-collapse:collapse;
}

#siteTable th, #siteTable td
{
    padding: .2em 1.4em;
}

#siteTable thead
{
    background-color: #35352d;
    color: #f3f5ce;
}
#siteTable th
{
    text-align:left;
}
#siteTable .odd
{
    background:#e1e2c1;
}

    #siteTable .detail div
    {
        height:6em;
        overflow-y:auto;
    }
#siteTable .detail table
{
    border-collapse:collapse;
    background-color: #3f442e;
    color: #e6ebe3;
    width:100%;
    -moz-border-radius: .2em;
    border-radius: .2em;

}


#menu
{
    margin:1em 0em;
    padding:1em;

}

button
{   
    font-size:1.8em;
    background: #4a2813;
    color:  #f3f5ce;
    padding:.4em;
    margin-right:1em;
    -moz-border-radius: .4em;
    border-radius: .4em;
}

#RefreshInfo
{
    display:inline-block;
}